.inst-img{
    position: relative;
}
.inst-img .pic_caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 94%;
    background-color: rgba(23, 23, 85, 0.7);
    text-align: center;
    opacity: 0.07;
    transition: 1s;
    padding: 0;
    margin-top: 10px;
}
.inst-img .pic_caption p{
    color: #FFF;
    font-family: 'Noto Sans';
    font-size: 16px;
    line-height: 150%;
    padding-top: 98px;
    letter-spacing: -0.8px;
}
.bottom_to_top{
    transition: 1s;
}
.inst-img:hover .bottom_to_top{
    top: 0;
    left: 0;
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}